div.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 3rem;
  max-width: 80%;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
}
span.usermark {
  padding: 0.5rem;
  text-align: right;
  font-size: 1rem;
  font-family: monospace;
  color: black;
  background-color: transparent;
}
span.usermark > a {
  text-decoration: none;
  color: inherit;
}
div.errors {
  padding: 5px;
  font-family: monospace;
  color: Red;
  background-color: black;
  border: 2px solid white;
}