div.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 3rem;
  max-width: 80%;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
}
span.usermark {
  padding: 0.5rem;
  text-align: right;
  font-size: 1rem;
  font-family: monospace;
  color: black;
  background-color: transparent;
}
span.usermark > a {
  text-decoration: none;
  color: inherit;
}
div.errors {
  padding: 5px;
  font-family: monospace;
  color: Red;
  background-color: black;
  border: 2px solid white;
}

div.sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 100%;
  color: black;
  background-image: linear-gradient(0, orange, gold);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
div.sections > a {
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  color: inherit;
  font-family: 'Neucha', monospace;
  font-size: 1.8rem;
}
div.sections > a:hover {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 2px black;
  transition: all 0.2s;
}