div.content {
  max-width: 750px;
  margin: auto;
  padding: 8px;
  font-family: 'Anonymous Pro', monospace;
}
div.usermark {
  position: fixed;
  top: 0;
  right: 0;
  padding: 4px;
  text-align: right;
  color: powderblue;
  font-size: 18px;
  font-family: monospace;
}
div.usermark > a {
  text-decoration: none;
  color: inherit;
}