div.grid-table > table {
  padding: 0;
  margin: 0;
}
div.grid-table > table th,
div.grid-table > table td {
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .4);
  border: 1px solid black;
}
div.grid-table > table th {
  color: orange;
  font-weight: normal;
}

#table-specs {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
