div.form-container {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  color: orange;
  background-color: rgba(0,0,0,.55);
  border: 2px solid gold;
  border-radius: 5px;
}
span.form-title {
  font-size: 25px;
  color: inherit;
}
#form {
  margin-top: 20px;
  color: inherit;
}

input.futuristic-input-text {
  min-width: 50%;
  padding: 2px 4px;
  color: inherit;
  background-color: rgba(0,0,0,.1);
  border: 2px solid rgba(256,256,256,.1);
  border-radius: 5px;
}
input.futuristic-input-text:focus {
  border: 2px solid rgba(256,256,256,.4);
  transition: border 0.8s;
}
input.futuristic-input-button,
button.futuristic-input-button {
  width: 25%;
  padding: 4px;
  color: rgba(256,0,0,.4);
  background-color: rgba(0,0,0,.1);
  border: 2px solid rgba(256,0,0,.4);
  border-radius: 5px;
}
input.futuristic-input-button:hover,
input.futuristic-input-button:active,
button.futuristic-input-button:hover,
button.futuristic-input-button:active {
  cursor: pointer;
  color: inherit;
  border: 2px solid orange;
  transition: border 0.8s, color 0.8s;
}

select.futuristic-input-select {
  padding: 0.2rem;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid rgba(256,256,256,.1);
  border-radius: 5px;
}
select.futuristic-input-select:hover {
  border: 2px solid rgba(256,256,256,.4);
  transition: border 0.8s;
}