* {box-sizing: border-box;}
html, body {
  margin: 0; 
  padding: 0;
}
body {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgb(10, 15, 25);
}
h1 {
  color: gold;
  font-size: 4rem;
  font-family: 'Montez', monospace;
}

.margin-top-5 {margin-top: 5px;}
.margin-top-10 {margin-top: 10px;}
.hidden {visibility: hidden;}
a.lime_hover:hover {color: lime;}
a.red_hover:hover {color: red;}