#pokertableWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}


#pokertableView {
    order: 1;
    flex-basis: 70%;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

#playerStats {
    order: 2;
    flex-basis: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
}

#pokertableView, #playerStats {
    padding: 1rem;
    height: 100%;
}


#playerList {
    flex-grow: 1;
    overflow: auto;
}

#cardDisplay {
    height: 25%;
    text-align: center;
}
#actionIn {
    flex-grow: 1;
    display: flex;
    flex-wrap: row wrap;
    padding: 0;
    align-items: center;
}
#pokertableChat {
    height: 50%;
    text-align: center;
    overflow: auto;
}

#actionFeed, #cardDisplay, 
#pokertableChat, #playerList {
    padding: 1rem;
}

#actionFeed, #cardDisplay, 
#actionIn, #pokertableChat,
#playerList {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0.5rem 0.3rem 0.3rem black;
    border: 2px solid black;
    border-radius: 0.2rem;
}


#actionIn > input {
    height: 100%;
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    border: none;
}
#actionIn > input:hover {
    cursor: pointer;
    color: orange;
    background-color: rgba(0,0,0,.6);
    transition: color 0.5s;
}
#actionIn > input:last-child {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
#actionIn > input:first-child {
    border-top-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.buttonDisabled input {color: gray;}
.buttonDisabled input:hover {
    cursor: default;
    color: gray;
    background-color: rgba(0,0,0,.4);
}
.buttonEnabled input {color: white;}
.buttonEnabled input:hover {
    color: orange;
}

#boardCards > span {
    color: orange;
    background-color: black;
}

#pokertableChat span > input {
    width: 50%;
    color: white;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: inherit;
    border: 1px solid gray;
    border-radius: 0.2rem;
}
#pokertableChat span > input:focus {
    border: 1px solid white;
    transition: border 1s;
}
#pokertableChat span > button {
    width: 10%;
    color: gray;
    padding: 0.07rem;
    background-color: inherit;
    border: 1px solid gray;
    border-radius: 0.2rem;
}
#pokertableChat span > button:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0,0,0,.1);
    border: 1px solid white;
}
#messageOuts {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: auto;
}

div.message {
    padding: 0.2rem;
    font-size: 1.2rem;
    text-align: left;
}
div.message > span:first-child {
    padding-right: 1rem;
    color: orange;
}
div.message > span:last-child {
    color: white;
}

div.player {
    padding: 0.2rem;
    font-size: 1.2rem;
    text-align: left;
}
div.player > span:first-child {
    color: orange;
    padding-right: 0.5rem;
}
div.player > span:nth-child(2) {
    color: lime;
}

#cardDisplay span {
    padding: 5px;
    color: white;
    border: 1px solid black;
}

#cardDisplay span.spade {
    background-color: rgba(0,0,0,.5);
}
#cardDisplay span.heart {
    background-color: FireBrick;
}
#cardDisplay span.diam {
    background-color: powderblue;
}
#cardDisplay span.club {
    background-color: green;
}