<!DOCTYPE html>
<html>
<head>
  <title>PokerThing</title>
  <meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Montez|Neucha&display=swap" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/tools.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/navigation.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/content.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/loginform.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/futuristic-input.css') }}" />
  <style></style>
</head>
<body>

  {% block index %}{% endblock %}

  <div class='content'>
    This is a minimalistic site for playing poker. All the player data is public.
  </div>

  <div class='content'>
    {% block loginform %}{% endblock %}
    {% block signupform %}{% endblock %}
  </div>

  <div class='content'>
      
  </div>

</body>
</html>
