<!DOCTYPE HTML>
<html>
<head>
  <title>PokerThing</title>
  <meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Montez|Neucha&display=swap" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/tools.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/navigation.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/base.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/loginform.css') }}" />
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/futuristic-input.css') }}" />
  <style></style>
</head>
<body>

  {% block index %}{% endblock %}
  {% block stream %}{% endblock %}

  <div class='content'>
    This is a minimalistic site for playing poker. All the player data is public.
  </div>

  <div class='content'>
    {% block loginform %}{% endblock %}
    {% block signupform %}{% endblock %}
  </div>

  {% if username %}
  <div class = "usermark">
    Signed in as {{ username }} <br />
    <a class="red_hover" href="/signout">Sign Out</a>
  </div>
  {% else %}
  <div class = "usermark ">
    You are not signed in<br />
    <a class="lime_hover" href="/login">Log In</a>
    <a class="lime_hover" href="/signup">Sign Up</a>
  </div>
  {% endif %}

</body>
</html>
