{% extends "template_base" %}

{% block database %}

<div class='container' id='table-specs'>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-12">
				<select class='form-control' id='table-select'>
					<option>Accounts</option>
					<option>Players</option>
					<option>PokerTables</option>
					<option>PlayerActions</option>
					<option>Rounds</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
        <input id='table-search' class="form-control" 
          type="text" placeholder="Search Table" />
			</div>
		</div>
	</form>
</div>

<div class='container grid-table' id='table-show'>
	<table id='table_repr' class='table table-dark'>
		<tbody id='table-out'></tbody>
	</table>
</div>

</div>

<script>
	'use strict'

	let ClientCode = {
		GETTABLE: 0,
		GETPLAYER: 1
	};

	let DbTable = {
		Accounts: 'accounts',
		PokerTables: 'pokertables',
		Players: 'players',
		Rounds: 'rounds',
		Boards: 'boards',
		PlayerCards: 'playercards',
		PlayerActions: 'playeractions'
	};

	let table_out = $('#table-out');
	let table = null;

	function searchTable(data_table, pattern) {
		let selected = [];
		data_table.rows.forEach(function(row) {
			for (let i = 0; i < row.length; i++)
				if (String(row[i]).includes(pattern)) {
					selected.push(row);
					break;
				}
		}); 
		return selected;
	}

	function fillTable(data_table) {
		table_out.html('<tr>');
		data_table.columns.forEach(function(x) {
			table_out.append('<th>' + x + '</th>');
		});
		table_out.append('</tr>');
		data_table.rows.forEach(function(row) {
			table_out.append('<tr>');
			row.forEach(function (td) {
				table_out.append('<td>' + td + '</td>');
			});
			table_out.append('</tr>');
		});
	}

	$('#table-select > option').click(function() {
		let option = $( this ).text();
		let json = JSON.stringify({
			id: ClientCode.GETTABLE,
			data: {table: DbTable[option]}
		});
		$.ajax('/database', {
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: json,
            timeout: 2000,
            success: function (data, status, xhr) {
				table = data;
				fillTable(data);
			},
            error: function (jqXhr, status, msg) {
				console.log("Error");
			}
		});
	});

	$('#table-search').on("change paste keyup", function() {
		if (table == null) return;
		fillTable({
			columns: table.columns,
			rows: searchTable(table, $( this ).val())
		});
	});
	
</script>
{% endblock %}