{% extends "index.html" %}

{% block signupform %}
  <div class='loginform-container'>
    <span class='loginform-title'>Sign Up</span>
    <form id='loginform' action='/signup' method='POST'>
      <p>
        <label for='email'>&nbsp;&nbsp;&nbsp;Email: </label>
        <input required type = 'email' name = 'email' id = 'email' type = 'email' class = 'futuristic-input-text' />
      </p>
      <p>
        <label for = 'username'>Username: </label>
        <input required type = 'text' name = 'username' id = 'username' minlength = 4 class = 'futuristic-input-text' />
      </p>
      <p>
        <label for = 'password'>Password: </label>
        <input required type = 'password' name = 'password' id = 'password' minlength = 6 class = 'futuristic-input-text' />
      </p>
      <input type = 'submit' name = 'login' id = 'login' value = 'Sign Up' class = 'futuristic-input-button margin-top-10' />
    </form>
  </div>
  {% if errors %}
  <div class = 'errors'>
    {% for error in errors %}
    <span>{{ error }}</span><br />
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
