{% extends "template_base" %}

{% block table %}

<div id='pokertableWrap'>

    <div id='playerStats'>
        <div id='playerList' class='player'></div>
    </div>

    <div id='pokertableView'>
        <div id='cardDisplay'>
            <div id='boardCards'></div>
            <div id='playerCards'></div>
        </div>
        <div id='actionIn' class='buttonDisabled'>
            <input type=submit name='check' id='check' value='CHECK' />
            <input type=submit name='call' id='call' value='CALL' />
            <input type=submit name='fold' id='fold' value='FOLD' />
            <input type=submit name='allin' id='allin' value='ALLIN' />
            <input type=submit name='raise' id='raise' value='RAISE' />
            <input type=text name='amount' id='amount' placeholder="Raise By"/>
        </div>

        <div id='pokertableChat'>
            <span>
                <input type=text name='message' id='message_in' />
                <button name='send' id='send'>Send</button>
            </span>
            <div id='message_out' class='message'></div>
        </div>
    </div>
</div>

<script>
    'use strict'
    
    const ServerCode = {
        MESSAGE: -6, 
        NEWROUND: 1, 
        NEWTURN: 2, 
        DEALTCARDS: 3, 
        SMALLBLIND: 4, 
        BIGBLIND: 5, 
        PLAYERCHECK: 6, 
        PLAYERCALL: 7, 
        PLAYERFOLD: 8, 
        PLAYERRAISE: 9, 
        PLAYERALLIN: 10,
        PLAYERACTIONREQUIRED: 11,
        PUBLICCARDSHOW: 12,
        DECLAREPREMATUREWINNER: 13, 
        DECLAREFINISHEDWINNER: 14,
        ROUNDFINISHED: 15, 
        PLAYERJOINED: 16, 
        PLAYERSETUP: 16, 
        PLAYERSUPDATE: 18,
        PLAYERSBOUGHTIN: 19
    };
    const ClientCode = {
        MESSAGE: -6, 
        FOLD: -5, 
        CHECK: -4, 
        CALL: -3, 
        RAISE: -2, 
        ALLIN: -1
    }; 

    const values = [
        '2', '3', '4', '5', '6', '7', '8', 
        '9', '10', 'J', 'Q', 'K', 'A'
    ];
    const suits = ['♠', '♣', '♦', '♥'];

    function makeDiv(text) {
        return "<div>" + text + "</div>";
    }
    function divOfSpam(textArray, id, cls) {
        let nodeId = (id != null) ? " id='" + id + "'" : "";
        let nodeCls = (cls != null) ? " class='" + cls + "'" : "";
        let node = "<div" + nodeId + nodeCls + "'>";
        textArray.forEach(function(s) {
            node += "<spam>" + s + "</spam>";
        });
        return node + "</div>";
    }
    function formatCards(cards) {
        let node = "";
        cards.forEach(function(x) {
            let val = values[x[0]];
            let suit = suits[x[1]];
            node += (
                "<span>" +
                    "<span>" + val + "</span>" + 
                    "<span>" + suit + "</span>" +
                "</span>"
            );
        });
        return node;
    }
    function updataPlayerMoney(player_name, money) {
        $('#' + player_name + ' > spam:nth-child(3)').text(money);
    }

    const pokertableChat = $("#pokertableChat");
    const message_in = $("#message_in");
    const message_out = $("#message_out");
    const message_send = $('#send');
    const actionIn = $('#actionIn');
    const boardCards = $('#boardCards');
    const playerCards = $('#playerCards');
    const playerList = $('#playerList');
    const raiseAmount = $('#amount');

    function serverOut(message) {
        message_out.append(divOfSpam([
            "Server", message
        ], null, "message"));
    }
    function resetPlayerBoard(players) {
        playerList.html("");
        for (let i = 0; i < players.length; i++) {
            let player = players[i];
            playerList.append(divOfSpam([
                player['name'],
                player['money']
            ], player['name'], "player"));
        }
    }
    function disablePlayerIn() {
        actionIn.removeClass('buttonEnabled');
        actionIn.addClass('buttonDisabled');
    }
    function enablePlayerIn() {
        actionIn.removeClass('buttonDisabled');
        actionIn.addClass('buttonEnabled');
    }

    const ws = new WebSocket(
        "ws://" + window.location.host + "/tablefeed"
    );
    ws.onopen = function() {console.log('Socket Opened');};
    ws.onclose = function() {console.log('Socket Closed');};
    ws.onmessage = function(rcv) {
        console.log("receiving");
        let server_sent = JSON.parse(rcv.data);
        let body = server_sent.data;
        console.log(server_sent);
        switch (server_sent.id) {
            case ServerCode.MESSAGE:
                message_out.append(divOfSpam([
                    body['username'], 
                    body['message']
                ], null, "message"));
                message_out.scrollIntoView(true);
                break;
            case ServerCode.PLAYERSETUP:
                resetPlayerBoard(body['players_data']);
                break;
            case ServerCode.PLAYERSBOUGHTIN:
                resetPlayerBoard(body['players_data']);
                break;
            case ServerCode.PLAYERSUPDATE:
                resetPlayerBoard(body['players_data']);
            case ServerCode.PLAYERLEFT:
                console.log("playerleft");
                break;
            case ServerCode.NEWROUND:
                serverOut("New Round");
                break;
            case ServerCode.NEWTURN:
                serverOut( "New Turn, " + body['turn']);
                boardCards.html(makeDiv(
                    formatCards(body['board_cards'])
                ));
                break;
            case ServerCode.DEALTCARDS:
                playerCards.html(
                    formatCards(body['player_cards'])
                );
                break;
            case ServerCode.SMALLBLIND:
                updataPlayerMoney(
                    body['player_name'], 
                    body['player_money']
                );
                serverOut(
                    body['player_name'] + 
                    " gave small blind of " + 
                    body['stake']
                );
                break;
            case ServerCode.BIGBLIND:
                updataPlayerMoney(
                    body['player_name'],
                    body['player_money']
                );
                serverOut(
                    body['player_name'] + 
                    ' gave big blind of ' + 
                    body['stake']
                );
                break;
            case ServerCode.PLAYERCHECK:
                serverOut(body['player_name'] + ' checks');
                disablePlayerIn();
                break;
            case ServerCode.PLAYERCALL:
                updataPlayerMoney(
                    body['player_name'], 
                    body['player_money']
                );
                serverOut(
                    body['player_name'] + ' calls ' + 
                    body['called']
                );
                disablePlayerIn();
                break;
            case ServerCode.PLAYERFOLD:
                serverOut(
                    body['player_name'] + 
                    ' folds'
                );
                disablePlayerIn();
                break;
            case ServerCode.PLAYERRAISE:
                updataPlayerMoney(
                    body['player_name'],
                    body['player_money']
                );
                serverOut(
                    body['player_name'] + 
                    ' raised ' + 
                    body['raised_by']
                );
                disablePlayerIn();
                break;
            case ServerCode.PLAYERALLIN:
                updataPlayerMoney(
                    body['player_name'], 
                    body['player_money']
                );
                serverOut(
                    body['player_name'] +
                    ' went all in with ' + 
                    body['allin_stake']
                );
                disablePlayerIn();
                break;
            case ServerCode.PLAYERACTIONREQUIRED:
                serverOut(
                    body['player_name'] +  ', ' +
                    body['to_call'] + ' to call'
                );
                enablePlayerIn();
                break;
            case ServerCode.PUBLICCARDSHOW:
                serverOut(
                    body['player_name'] + ' has ' +
                    body['player_cards']
                );
                break;
            case ServerCode.DECLAREPREMATUREWINNER:
                updataPlayerMoney(
                    body['player_name'],
                    body['player_money']
                );
                serverOut(
                    body['player_name'] + ' has won' + 
                    body['won']
                );
                break;
            case ServerCode.DECLAREFINISHEDWINNER:
                updataPlayerMoney(
                    body['player_name'],
                    body['player_money']
                );
                serverOut(
                    body['player_name'] + ' has won + ' + 
                    body['won'] + ' with ' + 
                    body['hand']
                );
                break;
            case ServerCode.ROUNDFINISHED:
                serverOut(
                    'Round Finished'
                );
                break;
            default:
                console.log(server_sent);
                console.log("Not Recognized");
        }
    };

    $('#check').click(function() {
        ws.send(JSON.stringify({
            id: ClientCode.CHECK,
            data: {}
        }));
    });
    $('#call').click(function() {
        console.log("call");
        ws.send(JSON.stringify({
            id: ClientCode.CALL,
            data: {}
        }));
    });
    $('#fold').click(function() {
        ws.send(JSON.stringify({
            id: ClientCode.FOLD,
            data: {}
        }));
    });
    $('#raise').click(function() {
        let raised_by = raiseAmount.val();
        if (!isNaN(raised_by)) {
            raised_by.text("");
            ws.send(JSON.stringify({
                id: ClientCode.RAISE,
                data: {
                    raised_by: parseInt(raised_by)
                }
            }));
        }
    });
    $('#allin').click(function() {
        ws.send(JSON.stringify({
            id: ClientCode.ALLIN,
            data: {}
        }));
    });

    message_send.click(function() {
        let message = message_in.val();
        if (!message.length) return;
        let d = JSON.stringify({
            id: ClientCode.MESSAGE,
            data: message
        });
        ws.send(JSON.stringify({
            id: ClientCode.MESSAGE,
            data: message
        }));
        message_in.val("");
    });

</script>

{% endblock %}